{% extends "plex.html" %}

{% block content %}
<h2>Plex {{ video['@librarySectionTitle'] }}</h2>
<ul class="section noscroll">
    {% if "show" in video['@viewGroup'] %}
        {% for x in video['Directory'] %}
            <li data-url="{{x['@ratingKey']}}">
                <a href="http://plex.tv/web/app#!/server/{{id}}/details/{{x['@key']|replace('/', '%2F')|replace('children', '')}}" target="_blank">
                    <p>{{ x['@title'] }}</p>
                </a>
            </li>
        {% endfor %}
    {% else %}
        {% for x in video['Video'] %}
            <li data-url="{{x['@key']}}">
                <a href="http://plex.tv/web/app#!/server/{{id}}/details/{{x['@key']|replace('/', '%2F')}}" target="_blank">
                    <p>{{x['@title']}} ({{x['@year']}}) </p>
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}