{% extends "plex.html" %}

{% block content %}
<h2>Plex {{ media['librarySectionTitle'] }}</h2>
<ul class="section noscroll">
    {% if "show" in media['viewGroup'] %}
        {% for x in media['Directory'] %}
            <li filter="{{x['title']}}" data-id="{{ x.ratingKey }}">
                <a href="#">
                    <p>{{ x['title'] }}</p>
                </a>
            </li>
        {% endfor %}
    {% elif "movie" in media['viewGroup'] %}
        {% for x in media['Video'] %}
            <li filter="{{x['title']}}" data-id="{{ x.ratingKey }}">
                <a href="#">
                    <p>{{x['title']}} ({{x['year']}}) </p>
                </a>
            </li>
        {% endfor %}
    {% elif "artist" in media['viewGroup'] %}
        {% for x in media['Directory'] %}
            <li filter="{{x['title'] }}" data-url="{{x['key']}}">
                <a href="http://plex.tv/web/app#!/server/{{id}}/details/{{x['key']|replace('/', '%2F')}}" target="_blank">
                    <p>{{x['title']}} </p>
                </a>
            </li>
        {% endfor %}
    {% else %}
        {% for x in media['Photo'] %}
            <li filter="{{x['title']}}" data-url="{{x['key']}}">
                <a href="http://plex.tv/web/app#!/server/{{id}}/details/{{x['key']|replace('/', '%2F')}}" target="_blank">
                    <p>{{x['title']}} </p>
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
<div class="actions">
    <input type="text" class="filter" placeholder="Filter {{media['librarySectionTitle']}}">
    <ul>
        <li class="refresh" data-id="{{media['librarySectionID']}}" title="Refresh {{media['librarySectionTitle']}} ">
            <span>Refresh Library</span>
        </li>
    </ul>
</div>
{% endblock %}
