{% extends "plex.html" %}

{% block content %}
<h2>Plex OnDeck</h2>
<div class="onDeck">
    {% for x in video %}
        <a class="poster" href="http://plex.tv/web/app#!/server/{{id}}/details/{{x['key']|replace('/', '%2F')}}" target="_blank">
            {% if "episode" in x['type'] %}
                <div class="posterimage" style="background-image: url({{x['grandparentThumb']|plex_img}})"></div>
                <p>{{x['parentIndex']}}x{{x['index']}}</p>
            {% else %}
                <div class="posterimage" style="background-image: url({{ x['thumb']|plex_img}})"></div>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
