{% extends "plex.html" %}

{% block content %}
<h2>Plex OnDeck</h2>
<div class="onDeck">
    {% for x in video['Video'] %}
        <a class="poster" href="http://plex.tv/web/app#!/server/{{id}}/details/{{x['@key']|replace('/', '%2F')}}" target="_blank">
            {% if "episode" in x['@type'] %}
                    <img src="/xhr/plex/img{{x['@grandparentThumb']}}">
                    <p>{{x['@parentIndex']}}x{{x['@index']}}</p>
            {% else %}
                    <img src="/xhr/plex/img{{ x['@thumb'] }}">
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
