<div id="plex_recent_{{title}}" class="module generic" data-module="plex_recent_{{title}}">

    <div class="module_settings"><span>Settings</span></div>
    <div class="module_remove"><span>Remove</span></div>
    {% if server.sections[type]["size"] > 1 %}
        <select id="change_{{title}}">
            {% for section in server.sections[type]["sections"] %}
                {% set key = server.sections[type]["sections"][section]["key"]%}
                <option value="{{ key }}" {% if key|int == id %}selected{% endif %}>
                    {{- server.sections[type]["sections"][section]["title"] -}}
                </option>
            {% endfor %}
        </select>
    {% endif %}
    <h2>Recently Added {{title|capitalize}}</h2>
    <ul>
    {% if 'movies' in title %}
        {% for movie in items['Video'] %}
            <li>
                <a href="http://plex.tv/web/app#!/server/{{server.machineIdentifier}}/details/{{movie['key']|replace('/', '%2F')}}" target="_blank">
                    <img src="{{ movie['thumb']|plex_img }}/200/200/">
                    <p>
                        <b>{{ movie['title'] }}</b> <br>
                        <small>Year: {{ movie['year'] }}</small> <br>
                        {% if movie['rating'] %}<small>Rating: {{ movie['rating'] }}</small>{% endif %}
                    </p>
                </a>
            </li>
        {% endfor %}
    {% elif 'episodes' in title %}
        {% for episode in items['Video'] %}
            <li>
                <a href="http://plex.tv/web/app#!/server/{{server.machineIdentifier}}/details/{{episode['key']|replace('/', '%2F')}}" target="_blank">
                    <img src="{{ episode['thumb']|plex_img }}/200/200/">
                    <p>
                        <b>{{episode['grandparentTitle']}}</b> <br>
                        <small>Season {{episode['parentIndex']}}, Episode {{episode['index']}}</small><br>
                        <small>{{ episode['title'] }}</small>
                    </p>
                </a>
            </li>
        {% endfor %}
    {% elif 'albums' in title %}
        {% for album in items['Directory'] %}
            <li>
                <a href="http://plex.tv/web/app#!/server/{{server.machineIdentifier}}/details/{{album['key']|replace('/', '%2F')}}" target="_blank">
                    <img src="{{ album['thumb']|plex_img }}/200/200/">
                    <p>
                        <b>{{ album['title'] }}</b> <br>
                        <small>By: {{album['parentTitle']}}</small><br>
                        <small>Year: {{album['year']}}</small>
                    </p>
                </a>
            </li>
        {% endfor %}
    {% else %}
        {% for photo in items['Photo'] %}
            <li>
                <a href="http://plex.tv/web/app#!/server/{{server.machineIdentifier}}/details/{{photo['key']|replace('/', '%2F')}}" target="_blank">
                    <img src="{{ photo['thumb']|plex_img }}/200/200/">
                    <p>
                        <b>{{ photo['title'] }}</b> <br>
                        <small>Year: {{photo['year']}}</small><br>
                        <small>{{photo['summary']}}</small><br>
                    </p>
                </a>
            </li>
        {% endfor %}
    {%endif%}
    </ul>
    <div class="navigate" data-position="{{start}}" data-id="{{id}}" data-type="{{title}}">
        {% if start > 1 %}<span class="previous">&lt;</span> {% endif %}
        <span class="next">&gt;</span>
    </div>
    <div id="settings">
        <span>Default Section:</span>
        <select id="{{type}}">
        <option value="0">None</option>
        {% for section in server.sections[type]["sections"] %}
            {% set key = server.sections[type]["sections"][section]["key"] %}
            <option value="{{ key }}" {% if key|int == preferred %}selected{% endif %}>
                {{- server.sections[type]["sections"][section]["title"] -}}
            </option>
        {% endfor %}
        </select>
    </div>
</div>
