<div id="plex_recent_{{title}}" class="module generic" data-module="plex_recent_{{title}}">

    <div class="module_settings"><span>Settings</span></div>
    <div class="module_remove"><span>Remove</span></div>
    {% set id = server.machineIdentifier %}

    <h2>Recently Added {{title|capitalize}}</h2>
    <ul>
    {% for movie in movies['Video'] %}
        <li>
            <a href="http://plex.tv/web/app#!/server/{{id}}/details/{{movie['@key']|replace('/', '%2F')}}" target="_blank">
                <img src="/xhr/plex/img{{ movie['@thumb'] }}">
                <p>
                    {% if 'movies' in title %}
                        <b>{{ movie['@title'] }}</b> <br>
                        <small>Year: {{ movie['@year'] }}</small> <br>
                        {% if movie['@rating'] %}<small>Rating: {{ movie['@rating'] }}</small>{% endif %}
                    {% else %}
                        <b>{{movie['@grandparentTitle']}}</b> <br>
                        <small>Season {{movie['@parentIndex']}}, Episode {{movie['@index']}}</small><br>
                        <small>{{ movie['@title'] }}</small>
                    {%endif%}

                </p>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
