#plex
{
    div.error p
    {
        padding: 5px;
        margin: 10px;
        text-align: center;
        color: red;
    }

    ul.plexMenu li
    {
        span
        {
            background-size: 15px;
        }

        .on_deck
        {
            background-image: url('/@{webroot}/images/on_deck.png');
        }
        .movie
        {
            background-image: url('/@{webroot}/images/movies.png');
        }
        .show
        {
            background-image: url('/@{webroot}/images/tv.png');
        }
        .photo
        {
            background-image: url('/@{webroot}/images/picture.png');
        }
        .artist
        {
            background-image: url('/@{webroot}/images/music_note.png');
        }

        .home
        {
            background-image: url('/@{webroot}/images/home.png');
        }
    }

    ul.onDeck
    {
        display: inline-block;
        li
        {
            float: left;
            width: 15%;
            padding: 2.5%;
            position: relative;

            img
            {
                width: 100%;

                &.movie {
                    width: 98%;
                }
            }

            p
            {
                position: absolute;
                bottom: 10%;
                width: 70%;
                text-align: center;
                background-color: black;
                padding: 5px;
                a
                {
                    color: white;
                }
            }
        }
    }

    ul.section
    {
        max-height: 264px;
        overflow-y: scroll !important;
        cursor: pointer;
        width: 98%;
        overflow: hidden;
        padding: 2px;

        li
        {
            background: url('/@{webroot}/images/alpha/fff_10.png');
            padding: 5px 15px;
            border: 1px solid #222;
            margin-top: 5px;
            line-height: 1.3em;
            .border-radius(4px);

            a
            {
                color: white;
            }

            &:hover
            {
                background: url('/@{webroot}/images/alpha/fff_20.png');
            }
        }
    }
    div.actions
    {
        padding: 3px;
        width: 97%;
        line-height: 28px;
        input
        {
            background: url('/@{webroot}/images/alpha/fff_10.png');
            border: 1px solid #222;
            cursor: pointer;
            color: #67c0f8;
            height: 28px;
            width: 50%;
            .border-radius(4px);
        }
        ul
        {
            display: inline;
            float: right;
            li
            {
                background: url('/@{webroot}/images/alpha/fff_10.png');
                cursor: pointer;
                float: right;
                display: inline-block;
                height: 30px;
                width: 30px;
                margin-left: 4px;
                text-indent: -9999px;
                .border-radius(4px);
                &:hover
                {
                    background: url('/@{webroot}/images/alpha/fff_20.png');
                }

                span
                {
                    background-position: center center;
                    background-repeat: no-repeat;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    width: 30px;
                }

                &.refresh span
                {
                    background-image: url('/@{webroot}/images/refresh.png');
                }
            }
        }
    }
}
