#plex
{
    div.error p
    {
        padding: 5px;
        margin: 10px;
        text-align: center;
        color: red;
    }

    ul.plexMenu li
    {
        span
        {
            background-size: 15px;
        }

        .on_deck
        {
            background-image: url('/@{webroot}/images/on_deck.png');
        }
        .movie
        {
            background-image: url('/@{webroot}/images/movies.png');
        }
        .show
        {
            background-image: url('/@{webroot}/images/tv.png');
        }
        .photo
        {
            background-image: url('/@{webroot}/images/picture.png');
        }
        .artist
        {
            background-image: url('/@{webroot}/images/music_note.png');
        }

        .home
        {
            background-image: url('/@{webroot}/images/home.png');
        }
    }

    div.onDeck
    {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        margin: 0 auto;
        .poster
        {
            float: left;
            width: 18%;
            overflow: visible;
            margin: 1% 1% 7%;
            position: relative;
            .border-radius(4px);
            display: inline-block;
            
            &:before
            {
                content: "";
                display: block;
                padding-top: 150%;
            }
            
            .posterimage
            {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: contain;
                background-position: center center;
                border-radius: 5px;
                z-index: 1;
                .border-radius(4px);
            }
            
            p
            {
                background-color: black;
                text-align: center;
                line-height: 25px;
                position: absolute;
                bottom: -22px;
                left: 0;
                right: 0;
                color: white;
            }
        }
    }

    ul.section
    {
        max-height: 264px;
        overflow-y: auto !important;
        cursor: pointer;
        width: 99%;
        overflow: hidden;
        padding: 2px;

        li
        {
            background: url('/@{webroot}/images/alpha/fff_10.png');
            padding: 5px 15px;
            border: 1px solid #222;
            margin-top: 5px;
            line-height: 1.3em;
            .border-radius(4px);

            a
            {
                color: white;
            }

            &:hover
            {
                background: url('/@{webroot}/images/alpha/fff_20.png');
            }
        }
    }
    div.actions
    {
        padding: 3px;
        width: 97%;
        line-height: 28px;
        input
        {
            background: url('/@{webroot}/images/alpha/fff_10.png');
            border: 1px solid #222;
            cursor: pointer;
            color: #67c0f8;
            height: 28px;
            width: 50%;
            .border-radius(4px);
        }
        ul
        {
            display: inline;
            float: right;
            li
            {
                background: url('/@{webroot}/images/alpha/fff_10.png');
                cursor: pointer;
                float: right;
                display: inline-block;
                height: 30px;
                width: 30px;
                margin-left: 4px;
                text-indent: -9999px;
                .border-radius(4px);
                &:hover
                {
                    background: url('/@{webroot}/images/alpha/fff_20.png');
                }

                span
                {
                    background-position: center center;
                    background-repeat: no-repeat;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    width: 30px;
                }

                &.refresh span
                {
                    background-image: url('/@{webroot}/images/refresh.png');
                }
            }
        }
    }
    div.movie
    {
        padding: 10px;
        img.thumb
        {
            width: 20%;
            margin: 5px;
            float: left;
        }

        p.plot
        {
            text-align: justify;
        }

        div.genres,
        div.actors
        {
            clear: both;
            span
            {
                background: url('/@{webroot}/images/alpha/fff_10.png');
                margin: 2px;
                padding: 5px;
                float: left;
                cursor: pointer;
                .border-radius(4px);

                &:hover
                {
                    background: url('/@{webroot}/images/alpha/fff_20.png');
                }
            }
        }

        div.genres span
        {
            background-color: rgba(255, 0, 0, 0.3);
        }


        div.actors span
        {
            background-color: rgba(0, 255, 0, 0.3);
        }
    }
}
