{% extends "base.html" %}

{% block content %}

{% if not kiosk %}
  {% include 'includes/update_bar.html' %}
{% endif %}

{% if show_tutorial %}
  <div id="tutorial">
    <div class="inner">
      <h1>Welcome to Maraschino</h1>
      <p>Just a few simple steps to get started:</p>
      <p>Please input your myPlex account info below, if you do not have one yet please <a href="https://plex.tv/users/sign_up" target="_blank">register here</a>.</p>
      <ol>
        <li><input id="myPlex_username" type="text" name="username" placeholder="myPlex username"></li>
        <li><input id="myPlex_password" type="password" name="password" placeholder="myPlex password"></li>
        <li>Hover over the top-left corner of the page and click the cog icon to enter configuration mode. From here you can customise Marschino by adding modules.</li>
      </ol>
      <p>Need help? Visit <a href="https://github.com/gugahoi/maraschino/tree/plex" target="_blank">Maraschino Repo</a></p>
    </div>
  </div>
{% endif %}

<div id="wrapper" class="clearfix">

  {% with show_add = True %}

    {% for column in modules %}
      <div id="col{{ loop.index }}" class="col">
        {% with mods = modules[loop.index0] %}
          {% include "placeholders.html" %}
        {% endwith %}
      </div>
    {% endfor %}

  {% endwith %}

</div>

{% endblock %}
