<div id="plex" class="module generic" data-module="plex">

    <div class="module_settings"><span>Settings</span></div>
    <div class="module_remove"><span>Remove</span></div>
    {% if error %}
        <div>        
            <h2>Plex ERROR</h2>
            <p class"error">Problem reaching Plex</p>
            <p>{{ exception }}</p>
        </div>    
    {% else %}
        {% set id = server.machineIdentifier %}
        <ul class="menu plexMenu">
            <li data-key="onDeck" title="On Deck">
                <span class="on_deck">On Deck</span>
            </li>
            {% for s in server.sections %}
                {% set section = server.sections[s] %}
                <li data-key="{{section['type']}}" title="section['title']"> 
                    <span class="{{section['type']}}">{{ section['title'] }} </span>
                </li>
            {% endfor %}
        </ul>

        {% block content %}{% endblock %}

    {%endif%}
</div>